.wrong-input {
  border: 5px solid red;

  border-radius: 5px;

  transition: all 1s;

  width: 20em;
}

.correct-input {
  border: 5px solid rgb(0, 255, 0);

  border-radius: 5px;

  transition: all 1s;

  width: 20em;
}

section {
  #terms {
    width: 1em;

    height: 1em;
  }
  form {
    input {
      margin-top: 1em;

      height: 5em;
    }
    button {
      border-radius: 5px;

      margin-top: 1em;

      width: 10em;
    }
  }
}
